body {
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Courier New', monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}

canvas {
  background: url('assets/background.png') repeat-x;
  border: 2px solid #fff;
  margin-top: 20px;
}
